
<suite name="Funtional tests suite" parallel="methods" thread-count="2">
<parameter name="browser" value="chrome"/>
  <test name="UI automation">
  
  <groups>
    <run>
      <include name="Regression"/>
      <include name="sanity"/>
    </run>
  </groups>
  
  
    <classes>
       <class name="com.synechron.testng.Testcase1"/>
       <class name="com.synechron.testng.Testcase2"/>
       <class name="com.synechron.testng.Testcase3"/>
       <class name="com.synechron.testng.Testcase4"/>
    </classes>
  
  
  
  
  </test>
  
  
</suite>